* {
    /* outline: 2px dotted green; */
      margin: 0;
      padding: 0;
      font-size: 16px;
      color: black;
    }
    
    body {
      width: 960px;
      margin: 0 auto;
    }
    
    header {
      background: #222;
      height: 100px;
    }
    
    li {
      list-style: none;
    }
    
    header h1 {
      color: #999;
      font-size: 26px;
      float: left;
      margin-left: 30px;
      margin-right: 30px;
      margin-top: 35px;
    }
    
    header a {
      color: white;
    }
    
    nav li {
      display: inline-block;
      margin-right: 60px;
      margin-top: 42px;
    }
    
    #hero {
      margin-top: 30px;
    }
  /*   We will do these in class prior to js.*/
    main li {
      float: left;
      margin-top: 30px;
      margin-right: 30px;
      margin-bottom: 30px;
    }
    
    main li:last-child {
      margin-right: 0;
    }
    
    footer {
      clear: both;
      height: 200px;
      background: #444;
      color: white;
      font-size: 30px;
    }   
  
   /* This pulls the footer down on the page.  */
       